<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/SearchinArray.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-material-icons.css">
</head>
<body>

<form class="form-inline indent">
    <label>Search: <input ng-model="searchText" placeholder="Search ..."></label>

</form>

<div ng-controller='AppCtrl'>
    <script type="text/ng-template" id="categoryTree">
        <span ng-if="category.type === 'dir'"><ng-md-icon icon="folder" style="fill:orange"></ng-md-icon>
            {{category.name}}</span>
        <!--<span ng-if="category.type === 'file'"><ng-md-icon icon="insert_drive_file" style="fill:grey"></ng-md-icon> {{category.name}}</span>-->
        <span ng-if="isHTML(category.name) === true"><ng-md-icon icon="cloud_circle" style="fill:red"></ng-md-icon> {{category.name}}</span>
        <span ng-if="isJS(category.name) === true"><ng-md-icon icon="settings" style="fill:grey"></ng-md-icon> {{category.name}}</span>
        <span ng-if="isCSS(category.name) === true"><ng-md-icon icon="palette" style="fill:blue"></ng-md-icon> {{category.name}}</span>

       <ul ng-if="category.children">
            <li ng-repeat="category in category.children | filter:searchText" ng-include="'categoryTree'">
            </li>
        </ul>
    </script>

    <ul>
        <li ng-repeat="category in categories | filter:searchText" ng-include="'categoryTree'">
        </li>
    </ul>

<script src="js/angular.min.js"></script>
<script src="js/angular-material-icons.min.js"></script>
<script src="js/SearchinArray.js"></script>



</div>
</body>
</html>