<!DOCTYPE html>
<html lang="en" ng-app="search">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
<!-- <div  ng-controller="searchlist">
    <form class="form-inline indent">
        <input ng-model="query" type="text"
               placeholder="Filter by" autofocus>
    </form>
    <ul ng-repeat="list in lists | filter:query | orderBy: 'name' ">
        <li>{{list.type}}</li>
        <li>{{list.name}}</li>
    </ul>
</div> -->


<div ng-controller="searchList">
    <form class="form-inline indent">
        <input ng-model="query" type="text"
               placeholder="Filter by" autofocus>
    </form>
    <tree family="fileList"></tree>
</div>

<script src="js/mock-data.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-recursion.js"></script>
</body>
</html>


